body {
	max-width: none;
}
#content {
	margin: 0 auto;
	max-width: 50rem;
}

#nav {
	display: flex;
	align-items: center;
	margin-left: 0; margin-right: 0;
	padding-left: 1rem; padding-right: 1rem;
	height: 25rem;
	height: 60vh;
	background-color: #555;
	background-position: center center;
	background-size: cover;
}

#nav-logo {
	max-height: 8rem;
}
