body {
	position: relative;
	max-width: none;
	background-color: #666;
	color: #fff;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 45rem;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: #F5C43F;
}
#menu > .container {
	display: flex;
}

#menu h1 {
	margin: 0;
	color: #333;
	flex-grow: 1;
	line-height: 3rem;
	font-size: 1.6rem;
	font-weight: 300;
}

#menu ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	text-align: right;
}
#menu ul li {
	display: inline-block;
	margin: 0;
}
#menu ul li a {
	display: inline-block;
	padding: 1rem;
	line-height: 1rem;
	color: #333;
}

#content {
	margin-left: 0;
	margin-right: 0;
	padding: 0 0 4rem 0;
	padding: 0 0 10vh 0;
}

#content #intro {
	position: relative;
	/*height: 80vh;*/
	margin-top: 3rem;
	width: 100%;
	height: 40vw;
	/*background-color: rgb(172, 114, 50);*/
	background-color: #fff;
	/*background-image: url(../hand-bg.svg);
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-position: top center;
	background-repeat: no-repeat;*/
	overflow: hidden;
}
#content #intro svg {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 60%;
	height: 100%;
	animation: 1s from-the-right;
	animation-delay: .3s;
	animation-timing-function: ease-out;
}
@keyframes from-the-right {
	0% { top: 50%; right: -100%; opacity: 0; }
	50% { opacity: 0; }
	100% { top: 0; right: 0; opacity: 1; }
}

#content #intro h2 {
	position: absolute;
	top: 30%;
	left: 15%;
	max-width: 12em;
	font-size: 200%;
	font-size: 3vw;
	font-size: calc(1rem + 2vw);
	line-height: 1.5;
	color: #555;
	font-weight: inherit;
	animation: 2s fade-in;
	animation-timing-function: ease-out;
}
@keyframes fade-in {
	0% { opacity: 0; }
	60% { opacity: 0; }
	100% { opacity: 1; }
}

#content #intro #intro-thankyou {
	padding: .1em .3em;
	font-style: normal;
	color: #333;
	background-color: rgba(245, 196, 63, .5);
	transition: opacity .3s ease-in-out;
	border-radius: .2em;
}

#content #intro .button {
	margin: 1rem .5rem;
	color: #fff;
	font-size: 105%;
	background-color: transparent;
	border: 1px solid #fff;
}
#content #intro .button:hover {
	color: #eee;
	border-color: #eee;
}

#content #newsletter {
	margin: 3rem auto 1rem auto;
	max-width: 45rem;
}
