body {
	max-width: none;
}
#nav {
	margin: 0 auto;
	max-width: 50rem;
}

#content {
	margin-left: 0;
	margin-right: 0;
	padding: 0 0 4rem 0;
	padding: 0 0 10vh 0;
}

#content #intro {
	padding: 10vh 0;
	text-align: center;
	color: white;
	background-image: url(https://static.tip-me.org/DSC_0065.cropped.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

#content #intro #intro-logo {
	max-height: 12rem;
}

#content #intro h2 {
	font-size: 120%;
	text-align: center;
	font-weight: inherit;
}

#content #intro #intro-thanks,
#content #intro #intro-products {
	padding: .1em .3em;
	font-style: normal;
	background-color: rgba(241, 196, 15, .2);
	transition: opacity .3s ease-in-out;
	border-radius: .2em;
}

#content #intro .button {
	margin: 1rem .5rem;
	color: #fff;
	font-size: 105%;
	background-color: transparent;
	border: 1px solid #fff;
}
#content #intro .button:hover {
	color: #eee;
	border-color: #eee;
}

#content #newsletter {
	margin: 3rem auto 1rem auto;
	max-width: 30rem;
}
